@charset "UTF-8";

body{
    background-color: rgb(3, 171, 201);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(60, 143, 50) ;
}
h1#principal{
    text-align: center;
    background-color:rgb(3, 194, 201) ;
    color: white;
}
h2{
    color: rgb(4, 133, 70);
}

.basico{

    color: rgb(114, 133, 4);
}

.intermediario{
    color: rgb(133, 92, 4);
}

.avancado{
    color: rgb(133, 62, 4);
}
.destaque{
    background-color: aqua;
}