@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: left;
   
    
}



.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30%;
    transform: translate(0%, -0%);
    background: #EDF2FC;
    background-position: center;
    border-radius: 40px;
    height: 40px;
    width: 600px;
    
}

.search-form{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: transparent;
    outline: none;
}
.search-input{
    
    padding: 0px;
    border: none;
    border-color: none;
    border-radius: 5px;
    width: 30px;
    line-height: 40px;
    outline: none;
    
}
.search-button{
    display: flex;
    padding: 8px 16px;
    background-color:#EDF2FC;
    color:black ;
   outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    width: 40px;
   
}



body{
    background-color:#F7F9FC;
}


a{
    color: rgb(0, 0, 0);
}
a:visited{
    color:;
}
div>nav>a:hover{
   text-decoration: underline;
 
}
a:active{
    color: #81a4e9;

}

    main{
        text-decoration: none;
        background-color: #EDF2FC;
        border-radius: 20px;
        width: 200px;
        padding: 10px;
       
    
}




footer{
    background-color:#EDF2FC;

    text-align: center;
}
p{text-align: justify;
}



.menu-container{
    width: 100%;
    overflow: hidden;
}

.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.menu li{
    display: inline;
    
}

.menu li a{
    display: block;
    padding: 10px;
    text-decoration: none;
}

a:hover{
    background-color: rgb(231, 220, 245);
    color: aqua;
}

h1{
    text-align: left;
}
footer{
    text-decoration: underline;
    color: ;
}